{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>P.A.I.S.A.</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="{% static 'images/mkr_Ud5_icon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/style.css' %}"/>
  </head>
  <body>
  <!-- Header Starts -->
    <div class="navbar-wrapper">
      <div class="navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Nav Starts -->
          <div class="navbar-collapse  collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/index">Home</a></li>
              <li class="active"><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
          <!-- #Nav Ends -->
        </div>
      </div>
    </div>
    <!-- #Header Ends -->
    <div class="container">
      <div class="spacer">
        <div class="row">
          <div class="col-lg-8  col-lg-offset-2">
            <img src="{% static 'images/about.jpg' %}" class="img-responsive thumbnail"  alt="realestate">
            <h2>About Us</h4>
            <h6><p>Property And Investment Statistical Analysis tells you if the property is worth pursuing - what to pay - and when to take a pass, and why. The Instant Analyst is simple to use even with no Excel experience - yet it provides a sophisticated look at the target property.</p></h6>
            <h6><p>Every company should be able to unlock the full potential of their data. By empowering everyone to explore and discover their own insights, PAISA democratizes data across entire organizations and within every department. We believe more access means more aha moments.</p></h6>
            <h6><p>We’ve built an incredible amount of sophistication and power into our simple interface with a singular purpose: to transform everyone into a data hero.</p></h6>
          </div>   
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <p class="copyright">Copyright 2017. All rights reserved. </p>
      </div>
    </div>
  </body>
</html>